body {
  background-color: #eee;
}
.drawer-button-container {
  height: 30px;
}
.project-component {
  margin: 8px 0;
}
.project-title a {
}
.project-timeline {
  height: 25px;
  width: 100%;
  background-color: #1e90ff;
  border: 1px #4682b4;
  border-radius: 2px;
  box-shadow: 2px 2px #4169e1;
}
.project-timeline-text {
  color: #fff;
  padding: 2px 5px;
}
